*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'PT Serif', serif , 'Sans serif';
}
header .menu {
    display: flex;
    height: 60px;
    background: #FFE026;
}
header .menu  img{
    margin-top: 15px;
    margin-left: 25px;
    width: 200;
}
header .menu  a{
    margin-left: 80px;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    align-self: center;
    color: #fff;
}
header .banner{
    height: 472px;
    background-image:url(../img/bannerdesktop1.png)  ;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
header .banner .texto{
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
    width: 461px;
    margin-right: 53px;   
    margin-bottom: 32px;
}
header .banner p{
    font-size: 20px;
}
main .title1 {
    height: 45px;
    background: #E60E0E;
    display: flex;
    align-items: center;
    justify-content: center;
}
main .title1 p{
    font-size: 25px;
    color: #FFFFFF;
}
.season1{
    background-image: url(../img/fondo1.png);
    background-repeat: no-repeat;
}
.season1 .description {
    margin: 0px 112px;
}
.season1 .description p{
    padding-top: 30px;
    font-size: 22px;
    font-weight: bold;  
}
main h2 {
    margin-top: 50px;
    font-size: 25px;
}
.season1 .description .card{
    display: flex;
    justify-content: space-between;
}
.season1 .description img{
    width: 280px;
    margin-top: 27px;
}
.season1 .description .card .text{
    margin-top: 27px;
    /* width: 100%; */
    width: 672px;
}
main .chapters{
    display: flex;
    flex-wrap: wrap;
    margin: 0px 112px;
    margin-top: 50px;
    justify-content: space-between;
    position: relative;
    z-index: 2;
}
main .chapters .chapter{
    width: 40%;
    display: flex;
    padding-bottom: 55px;
}
main .chapters .chapter a{
    text-decoration: none;
    color: #000;
    display: inline-block;
    align-self: center;
    font-size: 17px;
    font-weight: bold;
    margin-left: 50px;
    text-shadow:1px 1px 1px #fff;
}
main .chapters .chapter img{
   width: 200px;
}
main .season1 .synopsis {
    margin: 0 112px;
}
main .season1 .synopsis {
    margin: 0 112px;
}
main .season1 .synopsis .syTitle{
   font-weight: bold;
   font-size: 25px;
   line-height: 50px;
   padding-top: 50px;
}
main .season1 .synopsis .syText{
   font-size: 20px;
   padding-bottom: 100px;
   padding-top: 50px;
}
main .title2 {
    height: 45px;
    background: #FFE026;
    display: flex;
    align-items: center;
    justify-content: center;
}
main .title2 p{
    font-size: 25px;
    color: #FFFFFF;
    text-shadow:1px 1px 1px #000;
}
.season2{
    background: #fff;
    /* position: relative;
    overflow: hidden;  */
    background-image: url(../img/fondo3.png) ;
    background-size: cover;
    background-repeat: repeat;
}
/* .season2:before{ */
    /* background-image: url(../img/fondo3.png) ;
    background-size: cover;
    background-repeat: repeat; */
    /* content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.6;
    background-image: url('../img/fondo3.png');
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover; */
/* } */
.season2 .description {
    margin: 0px 112px;
    position: relative;
    z-index: 2;
}
.season2 .description p{
    padding-top: 35px;
    font-size: 22px;
    font-weight: bold;  
}
.season2 .description img{
    width: 280px;
    margin-top: 27px;
}
main .title3 {
    height: 45px;
    background: #FFE026;
    display: flex;
    align-items: center;
    justify-content: center;
}
main .title3 p{
    font-size: 22px;
    color: #FFFFFF;
    text-shadow:1px 1px 1px #000;
}
main .data {
    margin: 0 112px;
}
main .data .title{
    padding-top: 45px;
    font-size: 25px;
    color: #000;
    font-weight: bold;
}
main .data .person{
    font-size: 20px;
    padding-top: 55px;
}
main .data .personages {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.data .personages .personage {
    /* width: 33%; */
    margin-top: 36px;
}
.data .personages .personage p {
    font-size: 20px;
    margin-bottom: 20px;
}
main .data .textDiv{
    margin: 70px 0px;
}
main .data .textDiv .text{
    font-size: 20px;
    line-height: 25px;
}
.data .textDiv .text span{
    line-height: 100px;
    font-weight: bold;
}
footer .foot {
    height: 50px;
    background: #5C5C5C;
    display: flex;
    justify-content: flex-end;
    align-items: center
}
footer .foot p{
    padding-right: 300px;
    color: #FFFFFF;
}
footer .foot img{
    width: 30px;
    margin-right: 46px;
}



/* ---------------------- */
header .menuDown {
    width: 30px;
    margin-right: 33px;
}
header .menuDown ul {
    display: none;
    position: absolute;
    background:#FFFFFF;
    width: 133px;
    right: 5%;
    padding: 10px 20px;
}
header .menuDown ul a{
    font-size: 14px;
    margin: 5px 0;
    text-decoration:underline #E60E0E;
    color: #000;
}
header .menuDown:hover > ul {
    display: block;
    z-index: 1;
}
@media screen and (max-width:20000px) {
    header .menuDown {
        display:none;
    }
    main .chapters .watchC {
        display: none;
    }
}
@media screen and (max-width: 414px) {
    header .menu {
        display: flex;
        justify-content: space-between;
    }
    header .menuDown {
        display:inline-block;
    }
    header .menu .menuNormal {
        display: none;
    }
    header .menu .logo {
        width: 150px;
        height: 30px;
    }
    header .banner{
        height: 135px;
        background-size: 414px;
    }
    header .banner .texto{
        width: 346px;
        height: 102px;
        margin-right: 9px;   
        margin-bottom: 9px;
    }
    header .banner p{
        font-size: 15px;
        /* padding-right: 20px; */
    }
    main .title1 {
        height: 30px;
    }
    main .title1 p{
        font-size: 18px;
    }
    .season1{
        background-size: 414px;
        background-attachment: fixed;
    }
    .season1 .description {
        margin: 0px 35px;
    }
    .season1 .description p{
        padding-top: 15px;
        font-size: 17px;
        text-align: center;
    }
    .season1 .description img{
        display: none;
    }
    .season1 .description .card .text{
        margin-top: 11px;
        width: 342px;
        /* height: 98px;
        overflow: hidden; */
    }
    .season1 .description .card p{
        font-size: 14px;
        text-align: left;
    }
    main h2 {
        margin-top: 35px;
        font-size: 19px;
    }
    main .chapters{
        margin: 0px 35px;
        margin-top: 35px;
        height: 670px;
        overflow: hidden;
        /* left: 35px; */
    }
    main .chapters .chapter{
        width: 100%;
        padding-bottom: 35px;

    }
    main .chapters .chapter a{
        align-self: center;
        font-size: 13px;
        margin-left: 20px;
    }
    main .chapters .chapter img{
       width: 100px;
    }
    main .chapters .watchC {
        font-size: 15px;
        font-weight: bold;
        padding-bottom: 30px;
        margin-left: 50px;
        display: inline-block;
        text-decoration: none;
        color: #000;
    }
    main .season1 .synopsis {
        margin: 0 35px;
        height: 200px;
        overflow: scroll;
        margin-bottom: 30px;
        /* width: auto; */
    }
    main .season1 .synopsis .syTitle{
       font-size: 20px;
       line-height: 50px;
       padding-top: 10px;
       padding-left: 30px;
    }
    main .season1 .synopsis .syText{
       font-size: 15px;
       padding-left: 30px;
       padding-bottom: 30px;
       padding-top: 20px;
    }
    main .title2 {
        height: 30px;
    }
    main .title2 p{
        font-size: 18px;
    }
    .season2{
        background-size: fixed;
        background-attachment: fixed;
        left: 20px;
    }
    .season2 .description {
        margin: 0px 35px;
        width: auto;
        /* left: 20px; */
    }
    .season2 .description p{
        padding-top: 15px;
        font-size: 17px;
        width: auto;
    }
    .season2 .description img{
        display: none;
    }
    .season2 .description .text{
        margin-top: 11px;
        width: 342px;
        /* height: 98px;
        overflow: hidden; */
    }
    .season2 .description .text p{
        font-size: 14px;
        text-align: left;
    }
    main .title3 {
        height: 30px;
    }
    main .title3 p{
        font-size: 18px;
    }
    main .data {
        margin: 0 35px;
    }
    main .data .title{
        padding-top: 15px;
        font-size: 17px;
        text-align: center;
    }
    main .data .title span{
        display:  none;
    }
    main .data .person{
        font-size: 17px;
        padding-top: 25px;
        text-align: left;
    }
    .data .personages .personage {
        margin-top: 26px;
        width: 45%;
    }
    .data .personages .boros{
        display: none;
    }
    .data .personages .personage img{
        width: 150px;
    }
    .data .personages .personage p {
        font-size: 14px;
        margin-bottom: 10px;
    }
    main .data .textDiv{
        margin: 30px 0px;
    }
    main .data .textDiv .text{
        font-size: 15px;
        line-height: 20px;
    }
    .data .textDiv .text span{
        line-height: 25px;
        font-weight: bold;
    }
    footer .foot {
        height: 40px;
        display: flex;
        justify-content: flex-end;
        align-items: center
    }
    footer .foot p{
        padding-right: 50px;
        color: #FFFFFF;
        font-size: 10px;
    }
    footer .foot img{
        width: 20px;
        margin-right: 26px;
    }
    
}